</div>
<div class="bottom_form_block">
	<div class="block_inner">
		<div class="left_form">
			<div class="title">Get in Touch</div>
			<div class="text">Leave you request and our manager will connect with you soon</div>
			<form action="">
				<div class="field">
					<input type="text" placeholder="Full name *" required>
				</div>
				<div class="field">
					<input type="text" placeholder="E-mail *" required>
				</div>
				<div class="field">
					<textarea name="" placeholder="Your request" id="field" cols="30" rows="10"></textarea>
				</div>
				<div class="col_2">
					<div class="field checkbox">
						<label>
							<input type="checkbox"><span></span>Receive newsletters about our news and events
						</label>
					</div>
					<input type="submite" value="Submit" class="btn">
				</div>
			</form>
		</div>
	</div>
</div>	
<footer>
	<div class="block_inner">
		<div class="left_block">
			<div class="title"><a href="#">Contacts</a></div>
			<div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
			<div class="phone">Phone number: +99871 253 91 83 / 84</div>
			<div class="email">info@abnbm.com</div>
		</div>
		<div class="right_block_menu">
			<div class="title">Useful Links</div>
			<div class="menu_footer">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Products</a></li>
					<li><a href="">Restaurants & boulangerie</a></li>
					<li><a href="">Events</a></li>
					<li><a href="">Silk expert</a></li>
					<li><a href="">Partners</a></li>
					<li><a href="">Careers</a></li>
				</ul>
			</div>
		</div>
		<div class="copy">© All rights reserved / 2022</div>
		<div class="copy">developed by <a href="https://webline.one/" targer="_blank">Webline</a></div>
	</div>
</footer>				
												
<script src="js/main.js" async></script>
</body>
</html>