<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1N8LuZ_fohHgBTQbtdoai_cC9BracRlk"></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="list_lang">
			<a href="#" class="active">En</a>
		</div>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Products</a></li>
			<li><a href="">Restaurants & boulangerie</a></li>
			<li><a href="">Events</a></li>
			<li><a href="">Silk expert</a></li>
			<li><a href="">Partners</a></li>
			<li><a href="">Careers</a></li>
			<li><a href="">Партнеры</a></li>
		</ul>
	</div>
</nav> 
<header class="header">
	<div class="block_inner">
		<div class="burger">Open menu</div>
		<div class="logo">
			<a href="#">
				<img src="img/logo.png" alt="">
			</a>
		</div>
		<div class="lang_block">
			<a href="#" class="active_lang">English</a>
			<div class="list_lang">
				<a href="#">O'zbekcha</a>
				<a href="#">English</a>
			</div>
		</div>
	</div>
</header>
<div class="content_main_Wrapper">