include _header.jade
    <div class="restaur_block_wr">
        <div class="event_page">
            <div class="block_inner">
                <div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
                <div class="title">Careers</div>
                <div class="careers_list">
                    <div class="item_c">
                        <div class="name_top">
                            <div class="name">
                                <img src="files/barista.svg" alt="">
                                <span>Barista</span>
                            </div>
                            <div class="price">203 000 sums / per day</div>
                        </div>
                        <div class="list">
                            <span>Working conditions:</span>
                            <ul>
                                <li>– Official employment</li>
                                <li>– Ability to choose a convenient location for work</li>
                                <li>– Schedule 1/1 or 2/2</li>
                                <li>– Working hours from 7:30 to 22:00</li>
                                <li>– Salary 203.000 sum per day</li>
                                <li>– Payout 3 times a month</li>
                                <li>– Lunch and dinner at the expense of the company.</li>
                            </ul>
                        </div>
                        <div class="title_info">For more information:</div>
                        <div class="phone"><span>Phone:</span> +998935550773 | +998935550783</div>
                        <div class="telegramm"><span>Telegram:</span> <a href="@rec_abnmb">@rec_abnmb</a> | <a href="@bon_recruiter">@bon_recruiter</a></div>
                    </div>
                    <div class="item_c">
                        <div class="name_top">
                            <div class="name">
                                <img src="files/ress.svg" alt="">
                                <span>Waiter/ress</span>
                            </div>
                            <div class="price">100,000 to 180,000  sum / per day</div>
                        </div>
                        <div class="list">
                            <span>Working conditions:</span>
                            <ul>
                                <li>– Official employment</li>
                                <li>– Ability to choose a convenient location for work</li>
                                <li>– Schedule 1/1 or 2/2</li>
                                <li>– Working hours: from 7:30 to 22:00, or half shift from 7:30 to 14:00 / from 14:00 to 22:00</li>
                                <li>– Salary 203.000 sum per day</li>
                                <li>– Payout 3 times a month</li>
                                <li>– Lunch and dinner at the expense of the company.</li>
                            </ul>
                        </div>
                        <div class="title_info">For more information:</div>
                        <div class="phone"><span>Phone:</span> +998935550773 | +998935550783</div>
                        <div class="telegramm"><span>Telegram:</span> <a href="@rec_abnmb">@rec_abnmb</a> | <a href="@bon_recruiter">@bon_recruiter</a></div>
                    </div>
                    <div class="item_c">
                        <div class="name_top">
                            <div class="name">
                                <img src="files/cash.svg" alt="">
                                <span>Cashier</span>
                            </div>
                            <div class="price">203 000 sums / per day</div>
                        </div>
                        <div class="list">
                            <span>Working conditions:</span>
                            <ul>
                                <li>– Official employment</li>
                                <li>– Ability to choose a convenient location for work</li>
                                <li>– Schedule 1/1 or 2/2</li>
                                <li>– Working hours from 7:30 to 22:00</li>
                                <li>– Salary 203.000 sum per day</li>
                                <li>– Payout 3 times a month</li>
                                <li>– Lunch and dinner at the expense of the company.</li>
                            </ul>
                        </div>
                        <div class="title_info">For more information:</div>
                        <div class="phone"><span>Phone:</span> +998935550773 | +998935550783</div>
                        <div class="telegramm"><span>Telegram:</span> <a href="@rec_abnmb">@rec_abnmb</a> | <a href="@bon_recruiter">@bon_recruiter</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
include _footer.jade