include _header.jade
    <div class="restaur_block_wr contacts_page">
        <div class="event_page">
            <div class="block_inner">
                <div class="path_block"><a href="">Home</a><span>»</span>Contacts</div>
                <div class="title">Contacts</div>
                <div class="contacts_list">
                    <div class="item">
                        <div class="name">Bon!</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                    <div class="item">
                        <div class="name">Afsona</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                    <div class="item">
                        <div class="name">Irish Pub</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                    <div class="item">
                        <div class="name">Pizzeria Bella Napoli</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                    <div class="item">
                        <div class="name">Silk</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                    <div class="item">
                        <div class="name">Catering</div>
                        <div class="address">Address: 5 Furqat Street, Tashkent, Uzbekistan </div>
                        <div class="phone">Phone number: +998-71-2442701 / +998-71-2440013</div>
                        <div class="email">info@abnbm.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map_block_wr" style="padding-top: 0;">
            <div class="block_inner">
                <div class="map_inner" style="margin-bottom: 0;">
                    <div id="myMap" style="height:620px"></div>
                </div>
            </div>
        </div>  
        <div class="soc_block">
            <div class="block_inner">
                <div class="title">Social Networks</div>
                <div class="inner">
                    <a href="#">
                        <img src="files/ins.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="files/face.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
include _footer.jade