include _header.jade
	<div class="top_block_wr">
		<div class="block_inner">
			<div class="title">ABNBM GROUP</div>
			<div class="inner">
				<div class="left_block">
					<div class="name">OUR MISSION</div>
					<div class="text">Our mission is to delight customers with innovative and high-quality products, and to spearhead the development of the hospitality sector in Uzbekistan.</div>
					<a href="" class="btn">Read more »</a>
				</div>
				<div class="right_block">
					<div class="text_cyr">
						<img src="files/round_b.png" alt="">
					</div>
					<div class="image hover_img">
						<div class="hover">
							<img src="files/hov.png" alt="">
						</div>
					</div>
					<div class="image">
						<img src="files/image2.jpg" alt="">
						<div class="text_cyr_w">
							<img src="files/round_w.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="line_text_wr">
		<div class="title"><span>Pizzeria Bella Napoli</span></div>
		<div class="block_inner">
			<div class="left_block">
				<div class="name_sos">
					<div class="name">Authentic Italian pizzas</div>
					<a href="#">
						<img src="files/ins.svg" alt="">
					</a>
					<a href="#">
						<img src="files/face.svg" alt="">
					</a>
					<a href="#">
						<img src="files/tr.svg" alt="">
					</a>
				</div>
				<div class="text">
					<p>We have been serving delicious, authentic thin crust pizzas since 2007. Our customers keep on returning to sample the authentic flavours of Naples in our cosy Italian restaurant. At the heart of the Bella Napoli's success is our staffs’ passion for serving the highest-quality food with a friendly service in a casual, yet stylish dining environment.</p>
					<p>Our menu is as diverse as our customers’ tastes. Pizza is one of the world’s most-loved foods and we take a great deal of pride in serving it using the freshest and highest-quality ingredients, many of them imported directly from Italy.</p>
				</div>
				<div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
				<div class="phone">Phone number: +99871 253 91 83 / 84</div>
			</div>
			<div class="right_block">
				<div class="text_w">
					<div class="title_w">
						<div class="title"><span>Pizzeria Bella Napoli</span></div>
					</div>
				</div>
				<div class="image">
					<img src="files/image3.jpg" alt="">
				</div>
				<div class="page_link">
					<div class="left"><a href="">« Irish pub</a></div>
					<div class="right"><a href="">Bon! »</a></div>
				</div>
			</div>
		</div>
	</div>	
	<div class="about_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">About us</div>
				<div class="text">
					<p>ABN-MB operates in a high-growth market of Uzbekistan and is focused on meeting increasing demand from the burgeoning middle and upper class. The group has shown steady growth through diversifying portfolio in two primary business areas - Restaurants & Cafes and Food & Beverage Production. Its brands are highly recognised and known in Tashkent. Currently its operations is focused in the capital of Uzbekistan - Tashkent, and plans to broaden its business operations beyond Uzbekistan in the near future.</p>
					<p>The group employs about 300 people and continues to recruit the best professionals in the market.</p>
				</div>
			</div>
			<div class="right_block">
				<div class="video_block" style="background-image: url(files/poster.jpg);">
					<div class="btn_play"></div>
					<video width="486" height="282" controls>
						<source src="//www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>
	</div>	
	<div class="products_block">
		<div class="block_inner">
			<div class="title">Products</div>
			<div class="b_inner">
				<a href="#" class="item" style="background-image: url(files/pr_pic1.jpg);">
					<span class="inner">
						<span class="name">Bamberg Brewery</span>
						<span class="subname">Micro-brewery with German roots</span>
						<span class="text">In addition to our french coffee shops, we also market our bakery service under the BON! brand name. We have rebranded our bakery business to compile with overall business proposition. The fundamental concepts of our bakery are: fresh, healthy and quality. We try to supply fresh and healthy bakery products to our clients and try to keep high standards of quality in our business.</span>
						<span class="more">Read more »</span>
					</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/pr_pic2.jpg);">
					<span class="inner">
						<span class="name">Bakery & Patisserie</span>
						<span class="subname">European-quality products</span>
						<span class="text">In addition to our french coffee shops, we also market our bakery service under the BON! brand name. We have rebranded our bakery business to compile with overall business proposition. The fundamental concepts of our bakery are: fresh, healthy and quality. We try to supply fresh and healthy bakery products to our clients and try to keep high standards of quality in our business.</span>
						<span class="more">Read more »</span>
					</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/pr_pic3.jpg);">
					<span class="inner">
						<span class="name">Ice Cream</span>
						<span class="subname">Italian gelatos</span>
						<span class="text">In addition to our french coffee shops, we also market our bakery service under the BON! brand name. We have rebranded our bakery business to compile with overall business proposition. The fundamental concepts of our bakery are: fresh, healthy and quality. We try to supply fresh and healthy bakery products to our clients and try to keep high standards of quality in our business.</span>
						<span class="more">Read more »</span>
					</span>
				</a>
				<a href="#" class="item" style="background-image: url(files/pr_pic4.jpg);">
					<span class="inner">
						<span class="name">Chocolate</span>
						<span class="subname">Bean to bar</span>
						<span class="text">In addition to our french coffee shops, we also market our bakery service under the BON! brand name. We have rebranded our bakery business to compile with overall business proposition. The fundamental concepts of our bakery are: fresh, healthy and quality. We try to supply fresh and healthy bakery products to our clients and try to keep high standards of quality in our business.</span>
						<span class="more">Read more »</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="events_block">
		<div class="block_inner">
			<div class="title">
				<div class="tit">Events</div>
				<a href="#">See all events »</a>
			</div>
			<div class="inner">
				<a href="#" class="item_event big">
					<span class="image">
						<img src="files/ev1.jpg" alt="">
					</span>
					<span class="name">ABNMB Group’s Restaurants in Bukhara</span>
					<span class="date">19-12-2021</span>
				</a>
				<a href="#" class="item_event">
					<span class="image">
						<img src="files/ev2.jpg" alt="">
					</span>
					<span class="name">Bon! Chocolate Dragee</span>
					<span class="date">19-12-2021</span>
				</a>
				<a href="#" class="item_event">
					<span class="image">
						<img src="files/ev3.jpg" alt="">
					</span>
					<span class="name">European Bank for Reconstruction and </span>
					<span class="date">19-12-2021</span>
				</a>
			</div>
		</div>
	</div>
include _footer.jade