include _header.jade
<div class="top_block_wr">
    <div class="block_inner">
        <div class="title">ABNBM GROUP</div>
        <div class="inner">
            <div class="left_block">
                <div class="name">OUR MISSION</div>
                <div class="text">Our mission is to delight customers with innovative and high-quality products, and to spearhead the development of the hospitality sector in Uzbekistan.</div>
                <a href="" class="btn">Read more »</a>
            </div>
            <div class="right_block">
                <div class="text_cyr">
                    <img src="files/round_b.png" alt="">
                </div>
                <div class="image hover_img">
                    <div class="hover">
                        <img src="files/hhh.png" alt="">
                        <img src="files/hov.png" class="mob" alt="">
                    </div>
                </div>
                <div class="image_main">
                    <div class="image">
                        <img src="files/image2.jpg" alt="">
                        <div class="text_cyr_w">
                            <img src="files/round_w.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line_text_wr">
    <div class="title"><span>Pizzeria Bella Napoli</span></div>
    <div class="block_inner">
        <div class="left_block">
            <div class="restauran_slider_main_text">
                <div class="item">
                    <div class="name_sos">
                        <div class="name">Authentic Italian pizzas</div>
                        <a href="#">
                            <img src="files/ins.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="files/face.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="files/tr.svg" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <p>We have been serving delicious, authentic thin crust pizzas since 2007. Our customers keep on returning to sample the authentic flavours of Naples in our cosy Italian restaurant. At the heart of the Bella Napoli's success is our staffs’ passion for serving the highest-quality food with a friendly service in a casual, yet stylish dining environment.</p>
                        <p>Our menu is as diverse as our customers’ tastes. Pizza is one of the world’s most-loved foods and we take a great deal of pride in serving it using the freshest and highest-quality ingredients, many of them imported directly from Italy.</p>
                    </div>
                    <div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
                    <div class="phone">Phone number: +99871 253 91 83 / 84</div>
                    <div class="link"><a href="#">Read more »</a></div>
                </div>
                <div class="item">
                    <div class="name_sos">
                        <div class="name">Lorem, ipsum dolor sit </div>
                        <a href="#">
                            <img src="files/ins.svg" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt sapiente architecto dolorum laboriosam quidem impedit, vero mollitia hic, magnam consectetur debitis. Laudantium deleniti inventore quaerat at veniam distinctio amet.</p>
                        <p>Our menu is as diverse as our customers’ tastes. Pizza is one of the world’s most-loved foods and we take a great deal of pride in serving it using the freshest and highest-quality ingredients, many of them imported directly from Italy.</p>
                    </div>
                    <div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
                    <div class="phone">Phone number: +99871 253 91 83 / 84</div>
                    <div class="link"><a href="#">Read more »</a></div>
                </div>
                <div class="item">
                    <div class="name_sos">
                        <div class="name">Lorem, ipsum</div>
                        <a href="#">
                            <img src="files/ins.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="files/tr.svg" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Tempora sunt consectetur corporis, praesentium? Libero repellat impedit sapiente, magnam odio fugit enim, quaerat iusto nostrum tenetur fuga quam tempore in natus.</p>
                    </div>
                    <div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
                    <div class="phone">Phone number: +99871 253 91 83 / 84</div>
                    <div class="link"><a href="#">Read more »</a></div>
                </div>
            </div>
        </div>
        <div class="right_block">
            <div class="text_w">
                <div class="title_w">
                    <div class="title"><span>Pizzeria Bella Napoli</span></div>
                </div>
            </div>
            <div class="image">
                <div class="restauran_slider_main">
                    <div class="item">
                        <img src="files/image3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="files/image5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="files/image4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_block bg_none">
    <div class="block_inner">
        <div class="left_block">
            <div class="title">About us</div>
            <div class="text">
                <p>ABN-MB operates in a high-growth market of Uzbekistan and is focused on meeting increasing demand from the burgeoning middle and upper class. The group has shown steady growth through diversifying portfolio in two primary business areas - Restaurants & Cafes and Food & Beverage Production. Its brands are highly recognised and known in Tashkent. Currently its operations is focused in the capital of Uzbekistan - Tashkent, and plans to broaden its business operations beyond Uzbekistan in the near future.</p>
                <p>The group employs about 300 people and continues to recruit the best professionals in the market.</p>
            </div>
        </div>
        <div class="right_block">
            <div class="video_block" style="background-image: url(files/poster.jpg);">
                <div class="btn_play"></div>
                <video width="486" height="282" controls>
                    <source src="//www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<div class="line_text_wr products_block_slider">
    <div class="title noanim"><span>Products</span></div>
    <div class="block_inner">
        <div class="left_block">
            <div class="products_slider_main_text">
                <div class="item">
                    <div class="name">Bamberg Brewery</div>
                    <div class="subname">Micro-brewery with German roots</div>
                    <div class="body">Bamberg got its name from the name of German city which is located in Bavaria. It is brewed in our own brewery on the famous German equipment Kaspar Schultz. Our brewers have followed the law, which was adopted in 16 century by Duke Wilhelm VI: foamy drink should contain only water, malt and hops! It has a unique taste, unlike any on the market beers. Consumers and producers call this kind of beer "draft beer”. "Draft" - is a symbol of quality and prestige. "Draft" - it is always fresh beer. People who really like good beer will always prefer the draft to the box, even the very best bottled beer.</div>
                    <a href="" class="link">Read More »</a>
                </div>
                <div class="item">
                    <div class="name">lerem ipsum</div>
                    <div class="subname">Micro-brewery with German roots</div>
                    <div class="body">
                        <p>&nbsp;</p>
                        <p>Не менее популярный продукт нашего цеха — настоящее немецкое пиво&nbsp;Bamberg.&nbsp;</p>
                        <p>Оснащенный исключительно европейской техникой, оборудованием и сырьем цех позволяет произвести пиво эксклюзивного качества с 2008 года.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                    <a href="" class="link">Read More »</a>
                </div>
            </div>
        </div>
        <div class="right_block">
            <div class="image">
                <div class="products_slider_main">
                    <div class="item">
                        <img src="files/image5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="files/image4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="part_block">
    <div class="block_inner">
        <div class="title">Партнеры</div>
        <div class="b_inner">
            <a href="https://bonna.com.tr/en/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/967961e309f7481eb9451d9a6b65bc33.png" alt="">
            </a>
            <a href="https://www.casadio.com/ita/default.asp" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/0e834c7f1e8e4afab4a112caf0179036.png" alt="">
            </a>
            <a href="https://www.cimbali.com/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/a5c6ff73daca4781931aced6f319cd93.png" alt="">
            </a>
            <a href="https://www.molinipizzuti.it/en/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/50381002464a4474a1960d013ed30dad.png" alt="">
            </a>
            <a href="https://www.gocciadoro.it/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/4c5b6b3b535349c49f78d26fe22569c8.png" alt="">
            </a>
            <a href="https://www.esssecaffe.com/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/c036f7a29edd4f52bbbb4aebfab056ee.png" alt="">
            </a>
            <a href="https://www.gdrollin.com/aboutus.html" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/4d5a2805cacc45f2b993590f3649fb31.png" alt="">
            </a>
            <a href="https://animo.eu/en-us" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/84341ae7e6b648b5934dc48ccc07fc9b.png" alt="">
            </a>
            <a href="https://www.rational-online.com/en_xx/home/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/a7024115a36a44dd9d4e1b3e8436ea98.png" alt="">
            </a>
            <a href="https://www.angelopo.com/ru/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/8f2d81349bf44644bd631000f4e592cc.png" alt="">
            </a>
            <a href="https://www.robot-coupe.com/ru/ru" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/3285dc8bd00e489d994769687e82430a.png" alt="">
            </a>
            <a href="https://www.cambro.com/ru/" class="item" target="_blank">
                <img src="https://abnbm.uzwebline.com//storage/images/2a15069d21d64e5aa2ce62707e3ef7f9.png" alt="">
            </a>
        </div>
    </div>
</div>
<div class="events_block">
    <div class="block_inner">
        <div class="title">
            <div class="tit">Events</div>
            <a href="#">See all events »</a>
        </div>
        <div class="inner">
            <a href="#" class="item_event">
                <span class="image">
                    <img src="files/ev1.jpg" alt="">
                </span>
                <span class="name">ABNMB Group’s Restaurants in Bukhara</span>
                <span class="date">19-12-2021</span>
            </a>
            <a href="#" class="item_event">
                <span class="image">
                    <img src="files/ev2.jpg" alt="">
                </span>
                <span class="name">Bon! Chocolate Dragee</span>
                <span class="date">19-12-2021</span>
            </a>
            <a href="#" class="item_event">
                <span class="image">
                    <img src="files/ev3.jpg" alt="">
                </span>
                <span class="name">European Bank for Reconstruction and </span>
                <span class="date">19-12-2021</span>
            </a>
        </div>
    </div>
</div>
include _footer.jade