include _header.jade
    <div class="restaur_block_wr">
        <div class="event_page">
            <div class="block_inner">
                <div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
                <div class="image_ev_slider">
                    <div class="item">
                        <img src="files/ev.jpeg" alt="">
                    </div>
                    <div class="item">
                        <img src="files/ev.jpeg" alt="">
                    </div>
                    <div class="item">
                        <img src="files/ev.jpeg" alt="">
                    </div>
                </div>
                <div class="title">Careers</div>
                <div class="duo_text">
                    <blockquote>
                        <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                        <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                        <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                        <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                    </blockquote>
                    <blockquote>
                        <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                        <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                        <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                        <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                    </blockquote>
                    <div class="image_block">
                        <img src="files/ev_pic2.jpg" alt="">
                    </div>
                    <blockquote>
                        <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                        <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                        <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                        <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                    </blockquote>
                    <blockquote>
                        <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                        <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                        <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                        <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
include _footer.jade