include _header.jade
	<div class="restaur_block_wr">
		<div class="block_inner inner_page restor">
			<div class="path_block"><a href="">Home</a><span>»</span><a href="">Restaurants</a><span>»</span>Bon! Pâtisserie & Boulangerie</div>
			<a href="" class="btn down" download>Download MENU in PDF</a>
		</div>
		<div class="line_text_wr">
			<div class="title s1"><span>Bon! Pâtisserie & Boulangerie</span></div>
			<div class="block_inner">
				<div class="left_block">
					<div class="name_sos">
						<div class="name">Pâtisserie & Boulangerie</div>
						<a href="#">
							<img src="files/ins.svg" alt="">
						</a>
						<a href="#">
							<img src="files/face.svg" alt="">
						</a>
						<a href="#">
							<img src="files/yt.svg" alt="">
						</a>
					</div>
					<div class="text">
						<p>Serving the best of European traditions of baking and pastry art, Bon! has quickly become a popular brand and expanded from three branches. Our internationally-trained artisans prepare high-quality breads, pastry, Italian gelato as well as light and healthy breakfast and lunch dishes. Our food is served in a cozy and relaxed atmosphere. Due to its increasing popularity, it was decided to launch several outlets of Bon! Coffee Shop  where people would enjoy real French bakery and coffee. Currently, there are 10 branches all over the Tashkent:</p>
					</div>
				</div>
				<div class="right_block">
					<div class="text_w">
						<div class="title_w">
							<div class="title s1"><span>Bon! Pâtisserie & Boulangerie</span></div>
						</div>
					</div>
					<div class="image">
						<div class="restauran_slider">
							<div class="item">
								<img src="files/image4.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/image5.jpg" alt="">
							</div>
							<div class="item">
								<img src="files/image3.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="chef_block">
			<div class="block_inner">
				<div class="left">
					<img src="files/chef.png" alt="">
				</div>
				<div class="right">
					<div class="comm">Put your head down and work hard. Never wait for things to happen, make them happen for yourself through hard graft and not giving up</div>
					<div class="name">About our Chief-cooker</div>
					<div class="text">Gordon James Ramsay OBE is a British chef, restaurateur, television personality, food critic, hotel critic, and writer. His global restaurant group, Gordon Ramsay Restaurants, was founded in 1997 and has been awarded 16 Michelin stars overall; it currently holds a total of seven. After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay became one of the best-known and most influential chefs in the United Kingdom. </div>
				</div>
			</div>
			<div class="block_text">
				<div class="title">About Restaurant</div>
				<div class="inner">
					<blockquote>
						Gordon James Ramsay OBE is a British chef, restaurateur, television personality, food critic, hotel critic, and writer. His global restaurant group, Gordon Ramsay Restaurants, was founded in 1997 and has been awarded 16 Michelin stars overall; it currently holds a total of seven. After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay became one of the best-known and most influential chefs in the United Kingdom. <br><br>Gordon James Ramsay OBE is a British chef, restaurateur, television personality, food critic, hotel critic, and writer. His global restaurant group, Gordon Ramsay Restaurants, was founded in 1997 and has been awarded 16 Michelin stars overall; it currently holds a total of seven. After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay became one of the best-known and most influential chefs in the United Kingdom.
					</blockquote>
					<blockquote>
						Gordon James Ramsay OBE is a British chef, restaurateur, television personality, food critic, hotel critic, and writer. His global restaurant group, Gordon Ramsay Restaurants, was founded in 1997 and has been awarded 16 Michelin stars overall; it currently holds a total of seven. After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay became one of the best-known and most influential chefs in the United Kingdom. <br><br>Gordon James Ramsay OBE is a British chef, restaurateur, television personality, food critic, hotel critic, and writer. His global restaurant group, Gordon Ramsay Restaurants, was founded in 1997 and has been awarded 16 Michelin stars overall; it currently holds a total of seven. After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay became one of the best-known and most influential chefs in the United Kingdom.
					</blockquote>
				</div>
			</div>						
		</div>
		<div class="events_block inner_events">
			<div class="block_inner">
				<div class="inner">
					<a href="#" class="item_event big">
						<span class="image">
							<img src="files/ev1.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev4.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev5.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev6.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event big">
						<span class="image">
							<img src="files/ev7.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev8.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev9.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev10.jpg" alt="">
						</span>
					</a>
					<a href="#" class="item_event big">
						<span class="image">
							<img src="files/ev11.jpg" alt="">
						</span>
					</a>
				</div>
			</div>
		</div>	
		<div class="map_block_wr">
			<div class="block_inner">
				<div class="title">Branches</div>
				<div class="map_inner">
					<div id="myMap" style="height:620px"></div>
				</div>
				<div class="link_nav">
					<a href="" class="prev_link">Prev restaurant: Afsona</a>
					<a href="" class="next_link">Next restaurant: Irish Pub</a>
				</div>
			</div>
		</div>	
	</div>	

include _footer.jade