include _header.jade
    <div class="restaur_block_wr">
        <div class="event_page">
            <div class="block_inner">
                <div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
                <div class="image">
                    <img src="files/ev_pic.jpg" alt="">
                </div>
                <div class="title">Careers</div>
                <div class="duo_column">
                    <div class="left">
                        <blockquote>
                            <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                            <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                            <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                            <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                        </blockquote>
                        <div class="image_block">
                            <img src="files/ev_pic3.jpg" alt="">
                        </div>
                        <blockquote>
                            <p>ABNMB Group restaurant project opens two new branches in Bukhara!</p>
                            <p>By the end of 2021, the ABNMB Group team plans to open catering establishments in one of the oldest historical cities of Uzbekistan - Bukhara!</p>
                            <p>The two-story building will become a modern restaurant and delicious pastime for both local and foreign tourists.</p>
                            <p>The French coffee shop Bon! will function on the first floor and the contemporary restaurant Afsona of Uzbek cuisine is on the second. It is also planned to create a viewing platform (terrace) above the upper floor of the two-story building, where visitors can enjoy the unique view of the city over a cup of coffee or tea.</p>
                        </blockquote>
                    </div>
                    <div class="right">
                        <img src="files/ev_pic4.jpg" alt="">
                        <img src="files/ev_pic5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
include _footer.jade