include _header.jade
	<div class="restaur_block_wr">
		<div class="product_page_wr">
			<div class="block_inner">
				<div class="left_panel">
					<div class="title">Products</div>
					<ul class="menu_left">
						<li><a href="">Bamberg Brewery</a></li>
						<li><a href="">Bakery & Patisserie</a></li>
						<li class="opened"><a href="">Ice Cream</a></li>
						<li><a href="">Chocolate</a></li>
					</ul>
				</div>
				<div class="right_content">
					<div class="image">
						<img src="files/product.jpg" alt="video_block">
					</div>
					<div class="name">
						<div class="title">ICE CREAM</div>
						<div class="label">
							<img src="files/bam.png" alt="">
						</div>
					</div>
					<div class="body">
						<div class="subtitle">Italian gelatos</div>
						<div class="text">
							<p>Our original Italian ice cream recipes may be centuries old, but the equipment we use to produce them is at the vanguard of catering technology in Europe. We capitalise on years of ice cream making tradition, use only the finest ingredients and deliver the finest, creamy gelato!</p>
							<p>Despite short period that we are offering our ice-creams, we become very famous and favoured by many customers. Some state that we sell best ice cream in the city.</p>
						</div>
					</div>
				</div>
			</div>
		</div>									
	</div>	

include _footer.jade