include _header.jade
	<div class="restaur_block_wr">
		<div class="events_block">
			<div class="block_inner">
				<div class="title">
					<div class="tit">Events</div>
				</div>
				<div class="inner">
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev1.jpg" alt="">
						</span>
						<span class="name">ABNMB Group’s Restaurants in Bukhara</span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev2.jpg" alt="">
						</span>
						<span class="name">Bon! Chocolate Dragee</span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev3.jpg" alt="">
						</span>
						<span class="name">European Bank for Reconstruction and </span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev2.jpg" alt="">
						</span>
						<span class="name">Bon! Chocolate Dragee</span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev1.jpg" alt="">
						</span>
						<span class="name">ABNMB Group’s Restaurants in Bukhara</span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev3.jpg" alt="">
						</span>
						<span class="name">European Bank for Reconstruction and </span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev2.jpg" alt="">
						</span>
						<span class="name">Bon! Chocolate Dragee</span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev3.jpg" alt="">
						</span>
						<span class="name">European Bank for Reconstruction and </span>
						<span class="date">19-12-2021</span>
					</a>
					<a href="#" class="item_event">
						<span class="image">
							<img src="files/ev1.jpg" alt="">
						</span>
						<span class="name">ABNMB Group’s Restaurants in Bukhara</span>
						<span class="date">19-12-2021</span>
					</a>
				</div>
			</div>
		</div>
	</div>
include _footer.jade