include _header.jade
	<div class="restaur_block_wr">
		<div class="block_inner">
			<h1 class="title_h1">RESTAURANTS & BOULANGERIE</h1>
		</div>
		<div class="line_text_wr rest">
			<div class="title noanim s1"><span>Bon! Pâtisserie & Boulangerie</span></div>
			<div class="block_inner">
				<div class="left_block">
					<div class="name_sos">
						<div class="name">Pâtisserie & Boulangerie</div>
						<a href="#">
							<img src="files/ins.svg" alt="">
						</a>
						<a href="#">
							<img src="files/face.svg" alt="">
						</a>
						<a href="#">
							<img src="files/yt.svg" alt="">
						</a>
					</div>
					<div class="text">
						<p>Serving the best of European traditions of baking and pastry art, Bon! has quickly become a popular brand and expanded from three branches. Our internationally-trained artisans prepare high-quality breads, pastry, Italian gelato as well as light and healthy breakfast and lunch dishes. Our food is served in a cozy and relaxed atmosphere. Due to its increasing popularity, it was decided to launch several outlets of Bon! Coffee Shop  where people would enjoy real French bakery and coffee. Currently, there are 10 branches all over the Tashkent:</p>
					</div>
					<div class="address">See all branches on Map  </div>
				</div>
				<div class="right_block">
					<div class="text_w">
						<div class="title_w">
							<div class="title noanim s1"><span>Bon! Pâtisserie & Boulangerie</span></div>
						</div>
					</div>
					<div class="image">
						<img src="files/image4.jpg" alt="">
					</div>
				</div>
			</div>
		</div>	
		<div class="line_text_wr rest">
			<div class="title noanim"><span>The Irish Pub & Restaurant</span></div>
			<div class="block_inner">
				<div class="left_block">
					<div class="name_sos">
						<div class="name">Bringing traditions of pubs <br>to Uzbekistan</div>
						<a href="#">
							<img src="files/ins.svg" alt="">
						</a>
						<a href="#">
							<img src="files/face.svg" alt="">
						</a>
						<a href="#">
							<img src="files/yt.svg" alt="">
						</a>
					</div>
					<div class="text">
						<p>Come and enjoy Irish traditions in our warm and lively surroundings. Choose from a wide range of local and imported beers and wines in the atmospheric Irish bar, where you can watch live international football. Or go upstairs to the restaurant area, and relax and enjoyhearty dishes from our wide-ranging menu, while live bands play a selection of old favourite tunes.</p>
					</div>
					<div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
					<div class="phone">Phone number: +99871 252 78 42 / 43</div>
				</div>
				<div class="right_block">
					<div class="text_w">
						<div class="title_w">
							<div class="title noanim"><span>The Irish Pub & Restaurant</span></div>
						</div>
					</div>
					<div class="image">
						<img src="files/image5.jpg" alt="">
					</div>
				</div>
			</div>
		</div>	
		<div class="line_text_wr rest">
			<div class="title noanim s1"><span>Afsona</span></div>
			<div class="block_inner">
				<div class="left_block">
					<div class="name_sos">
						<div class="name">Bringing traditions of pubs <br>to Uzbekistan</div>
						<a href="#">
							<img src="files/ins.svg" alt="">
						</a>
						<a href="#">
							<img src="files/face.svg" alt="">
						</a>
						<a href="#">
							<img src="files/yt.svg" alt="">
						</a>
					</div>
					<div class="text">
						<p>Come and enjoy Irish traditions in our warm and lively surroundings. Choose from a wide range of local and imported beers and wines in the atmospheric Irish bar, where you can watch live international football. Or go upstairs to the restaurant area, and relax and enjoyhearty dishes from our wide-ranging menu, while live bands play a selection of old favourite tunes.</p>
					</div>
					<div class="address">>Address: 30 Taras Shevchenko Street, Tashkent </div>
					<div class="phone">Phone number: +99871 252 56 81 / 82</div>
				</div>
				<div class="right_block">
					<div class="text_w">
						<div class="title_w">
							<div class="title noanim s1"><span>Afsona</span></div>
						</div>
					</div>
					<div class="image">
						<img src="files/image6.jpg" alt="">
					</div>
				</div>
			</div>
		</div>	
		<div class="line_text_wr rest">
			<div class="title noanim"><span>Pizzeria Bella Napoli</span></div>
			<div class="block_inner">
				<div class="left_block">
					<div class="name_sos">
						<div class="name">Authentic Italian pizzas</div>
						<a href="#">
							<img src="files/ins.svg" alt="">
						</a>
						<a href="#">
							<img src="files/face.svg" alt="">
						</a>
						<a href="#">
							<img src="files/yt.svg" alt="">
						</a>
					</div>
					<div class="text">
						<p>We have been serving delicious, authentic thin crust pizzas since 2007. Our customers keep on returning to sample the authentic flavours of Naples in our cosy Italian restaurant. At the heart of the Bella Napoli's success is our staffs’ passion for serving the highest-quality food with a friendly service in a casual, yet stylish dining environment.</p>
						<p>Our menu is as diverse as our customers’ tastes. Pizza is one of the world’s most-loved foods and we take a great deal of pride in serving it using the freshest and highest-quality ingredients, many of them imported directly from Italy.</p>
					</div>
					<div class="address">Address: 63 Usman Nasir Street, Tashkent</div>
					<div class="phone">Phone number: +99871 253 91 83 / 84</div>
				</div>
				<div class="right_block">
					<div class="text_w">
						<div class="title_w">
							<div class="title noanim"><span>Pizzeria Bella Napoli</span></div>
						</div>
					</div>
					<div class="image">
						<img src="files/image3.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>									
include _footer.jade