include _header.jade
<div class="restaur_block_wr">
	<div class="event_page">
		<div class="block_inner">
			<div class="path_block"><a href="">Home</a><span>»</span>Careers</div>
			<div class="title">Партнеры</div>
			<div class="part_block">
				<div class="block_inner">
					<div class="b_inner">
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
						<a href="#" class="item">
							<img src="files/partt.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
include _footer.jade